In [1]:
import pandas as pd

file_path = r"data/US_Accidents_March23.csv"
output_path = r"data/US_Accidents_reduced.csv"

use_cols = [
    "ID",
    "Start_Time",
    "Severity",
    "Temperature(F)",
    "Visibility(mi)",
    "Wind_Speed(mph)",
    "Humidity(%)",
    "Precipitation(in)",
    "Weather_Condition",
    "Traffic_Signal",
    "Junction",
    "Crossing",
    "Stop",
    "Sunrise_Sunset"
]

dtype_map = {
    "Severity": "int8",
    "Traffic_Signal": "bool",
    "Junction": "bool",
    "Crossing": "bool",
    "Stop": "bool",
    "Sunrise_Sunset": "category",
    "Weather_Condition": "category"
}

chunksize = 200_000
first_chunk = True

for chunk in pd.read_csv(
    file_path,
    usecols=use_cols,
    dtype=dtype_map,
    parse_dates=["Start_Time"],
    chunksize=chunksize,
    low_memory=True
):
    chunk.to_csv(
        output_path,
        mode="w" if first_chunk else "a",
        index=False,
        header=first_chunk
    )
    first_chunk = False

print("Reduced dataset saved successfully.")

Reduced dataset saved successfully.

## Selected Columns and Their Purpose

- *ID*: Unique identifier for each accident record. Used to remove duplicate entries.
- *Start_Time*: Timestamp indicating when the accident occurred. Used for time-based analysis.
- *Severity*: Indicates the severity level of the accident. Acts as a key analytical variable.
- *Weather_Condition*: Describes weather conditions during the accident.
- *Temperature(F)*: Weather-related feature affecting road conditions.
- *Wind_Speed(mph)*: Helps assess weather impact on accidents.
- *Precipitation(in)*: Indicates rainfall intensity which may influence accident severity.
- *Visibility(mi)*: Measures road visibility at the time of accident.
- *Sunrise_Sunset*: Identifies whether the accident occurred during day or night.
- *Traffic_Signal*: Indicates presence of traffic signals near the accident location

In [3]:
import pandas as pd
a=pd.read_csv( r"C:\Users\User\Downloads\archive\US_Accidents_reduced.csv",
    parse_dates=["Start_Time"]
)

In [ ]:
a.columns
a.head()

a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   ID                 object
 1   Severity           int64
 2   Start_Time         object
 3   Temperature(F)     float64
 4   Humidity(%)        float64
 5   Visibility(mi)     float64
 6   Wind_Speed(mph)    float64
 7   Precipitation(in)  float64
 8   Weather_Condition  object
 9   Crossing           bool
 10  Junction           bool
 11  Stop               bool
 12  Traffic_Signal     bool
 13  Sunrise_Sunset     object
dtypes: bool(4), float64(5), int64(1), object(4)
memory usage: 619.1+ MB

In [4]:
a.shape

(7728394, 14)

In [5]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   ID                 object
 1   Severity           int64
 2   Start_Time         object
 3   Temperature(F)     float64
 4   Humidity(%)        float64
 5   Visibility(mi)     float64
 6   Wind_Speed(mph)    float64
 7   Precipitation(in)  float64
 8   Weather_Condition  object
 9   Crossing           bool
 10  Junction           bool
 11  Stop               bool
 12  Traffic_Signal     bool
 13  Sunrise_Sunset     object
dtypes: bool(4), float64(5), int64(1), object(4)
memory usage: 619.1+ MB

In [4]:
a["Start_Time"]=pd.to_datetime(a["Start_Time"],errors="coerce")

In [5]:
a["Start_Time"].dtype

dtype('<M8[ns]')

In [6]:
a['Hour']=a["Start_Time"].dt.hour

In [7]:
a['Day']=a["Start_Time"].dt.day_name()

In [8]:
import pandas as pd
a=pd.read_csv(r"C:\Users\User\Downloads\archive\US_Accidents_reduced.csv",parse_dates=["Start_Time"])

In [9]:
a.dtypes

ID                    object
Severity               int64
Start_Time            object
Temperature(F)       float64
Humidity(%)          float64
Visibility(mi)       float64
Wind_Speed(mph)      float64
Precipitation(in)    float64
Weather_Condition     object
Crossing                bool
Junction                bool
Stop                    bool
Traffic_Signal          bool
Sunrise_Sunset        object
dtype: object

In [10]:
a.shape

(7728394, 14)

In [11]:
a.columns

Index(['ID', 'Severity', 'Start_Time', 'Temperature(F)', 'Humidity(%)',
       'Visibility(mi)', 'Wind_Speed(mph)', 'Precipitation(in)',
       'Weather_Condition', 'Crossing', 'Junction', 'Stop', 'Traffic_Signal',
       'Sunrise_Sunset'],
      dtype='object')

In [12]:
a.describe(include="all")

,ID,Severity,Start_Time,Temperature(F),Humidity(%),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Crossing,Junction,Stop,Traffic_Signal,Sunrise_Sunset
count,7728394,7.728394e+06,7728394,7.564541e+06,7.554250e+06,7.551296e+06,7.157161e+06,5.524808e+06,7554935,7728394,7728394,7728394,7728394,7705148
unique,7728394,NaN,6131796,NaN,NaN,NaN,NaN,NaN,144,2,2,2,2,2
top,A-1,NaN,2021-01-26 16:16:13,NaN,NaN,NaN,NaN,NaN,Fair,False,False,False,False,Day
freq,1,NaN,225,NaN,NaN,NaN,NaN,NaN,2560802,6854631,7157052,7514023,6584622,5334553
mean,NaN,2.212384e+00,NaN,6.166329e+01,6.483104e+01,9.090376e+00,7.685490e+00,8.407210e-03,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,4.875313e-01,NaN,1.901365e+01,2.282097e+01,2.688316e+00,5.424983e+00,1.102246e-01,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000e+00,NaN,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,2.000000e+00,NaN,4.900000e+01,4.800000e+01,1.000000e+01,4.600000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,2.000000e+00,NaN,6.400000e+01,6.700000e+01,1.000000e+01,7.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,2.000000e+00,NaN,7.600000e+01,8.400000e+01,1.000000e+01,1.040000e+01,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,4.000000e+00,NaN,2.070000e+02,1.000000e+02,1.400000e+02,1.087000e+03,3.647000e+01,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
a.isna().sum()

ID                         0
Severity                   0
Start_Time                 0
Temperature(F)        163853
Humidity(%)           174144
Visibility(mi)        177098
Wind_Speed(mph)       571233
Precipitation(in)    2203586
Weather_Condition     173459
Crossing                   0
Junction                   0
Stop                       0
Traffic_Signal             0
Sunrise_Sunset         23246
dtype: int64

In [14]:
a["Visibility(mi)"]=a["Visibility(mi)"].fillna(a["Visibility(mi)"].median())

In [15]:
(a.isna().mean()*100).sort_values(ascending=False)

Precipitation(in)    28.512858
Wind_Speed(mph)       7.391355
Humidity(%)           2.253301
Weather_Condition     2.244438
Temperature(F)        2.120143
Sunrise_Sunset        0.300787
Visibility(mi)        0.000000
Start_Time            0.000000
ID                    0.000000
Severity              0.000000
Crossing              0.000000
Junction              0.000000
Stop                  0.000000
Traffic_Signal        0.000000
dtype: float64

In [16]:
a["Visibility(mi)"]=a["Visibility(mi)"].fillna(a["Visibility(mi)"].median())

In [17]:
a["Temperature(F)"] = a["Temperature(F)"].fillna(a["Temperature(F)"].median())
a["Humidity(%)"] = a["Humidity(%)"].fillna(a["Humidity(%)"].median())
a["Wind_Speed(mph)"] = a["Wind_Speed(mph)"].fillna(a["Wind_Speed(mph)"].median())
a["Precipitation(in)"] = a["Precipitation(in)"].fillna(0)

In [18]:
a["Weather_Condition"] = a["Weather_Condition"].fillna("Unknown")

In [19]:
a = a[(a["Temperature(F)"] > -50) & (a["Temperature(F)"] < 150)]
a = a[a["Visibility(mi)"] > 0]
a = a[a["Wind_Speed(mph)"] >= 0]
a = a[a["Precipitation(in)"] >= 0]

In [20]:
a["Sunrise_Sunset"]=a["Sunrise_Sunset"].str.strip().str.title()

In [21]:
a=a.drop_duplicates(subset=["ID"])

In [6]:
a.to_csv("US_Accidents_cleaned.csv",index=False)